{{ $src := .Destination }}
{{ if hasPrefix $src "/" }}
  {{ $src = partial "admin_href.html" (dict "page" .Page "href" $src) }}
{{ end }}
{{ $alt := .Text | plainify }}
{{ $caption := .Title | plainify }}

{{ if $caption }}
  <figure class="post-image">
    <img src="{{ $src | safeURL }}" alt="{{ $alt }}" loading="lazy" decoding="async">
    <figcaption>{{ $caption }}</figcaption>
  </figure>
{{ else }}
  <img class="post-image" src="{{ $src | safeURL }}" alt="{{ $alt }}" loading="lazy" decoding="async">
{{ end }}
