{{ define "main" }}
  {{ $excludeFromSearch := or (hasPrefix .File.BaseFileName "no_post") (eq .Params.search false) }}
  <article class="post" {{ if $excludeFromSearch }}data-pagefind-ignore="all"{{ else }}data-pagefind-body{{ end }}>
    <header class="post-header">
      <div class="post-card-meta">{{ .Date.Format "2006-01-02" }}</div>
      {{ with .Params.tags }}
        <div class="tag-list">
          {{ range . }}
            <a class="tag" href="{{ "/tags/" | relURL }}{{ . | urlize }}/">#{{ . }}</a>
          {{ end }}
        </div>
      {{ end }}
      {{ if ne .Section "lit" }}
        {{ with .Params.summary }}
          <p class="lead post-summary">{{ . }}</p>
        {{ end }}
      {{ end }}
    </header>
    <div class="post-body">
      {{ .Content }}
    </div>
  </article>
{{ end }}
