<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
  {{ if .IsHome }}
    {{ .Site.Title }}
  {{ else }}
    {{ .Title }} | {{ .Site.Title }}
  {{ end }}
</title>
{{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}" />
{{ end }}
<link rel="stylesheet" href="{{ "css/site.css" | relURL }}" />
<link rel="icon" href="{{ "favicon.ico" | relURL }}" sizes="any">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16.png" | relURL }}">
