{{ $showSearch := false }}

{{ if .IsHome }}
  {{ $showSearch = true }}
{{ end }}

{{ if and (eq .Kind "section") (eq .Section "posts") }}
  {{ $showSearch = true }}
{{ end }}

{{ if and (eq .Kind "section") (eq .Section "archives") }}
  {{ $showSearch = true }}
{{ end }}

{{ if or (eq .Kind "taxonomy") (eq .Kind "term") }}
  {{ if eq .Data.Plural "tags" }}
    {{ $showSearch = true }}
  {{ end }}
{{ end }}

{{ if isset .Params "search" }}
  {{ $showSearch = .Params.search }}
{{ end }}

{{ return $showSearch }}
