{{ if not .IsHome }}
  <div class="sidebar-block sidebar-block--graph">
    {{ partial "knowledge-graph.html" (dict "page" . "variant" "sidebar") }}
  </div>
{{ end }}
<div class="sidebar-block">
  <h3>{{ if eq .Site.Language.Lang "en" }}Archives{{ else }}Archivos{{ end }}</h3>
  <ul class="sidebar-list">
    {{ $allPages := where .Site.RegularPages "Section" "in" (slice "posts" "proyectos-profesionales" "proyectos-academicos" "zettelkasten" "lit") }}
    {{ $scratch := newScratch }}
    {{ range $allPages }}
      {{ if not (hasPrefix .File.BaseFileName "no_post") }}
        {{ $scratch.Add "pages" (slice .) }}
      {{ end }}
    {{ end }}
    {{ $pages := $scratch.Get "pages" | default (slice) }}
    {{ range first 12 ($pages.GroupByDate "2006-01") }}
      <li>
        <a href="{{ "/archives/" | relURL }}#{{ .Key }}">{{ .Key }}</a>
        <span class="count">{{ len .Pages }}</span>
      </li>
    {{ end }}
  </ul>
  <a class="sidebar-more" href="{{ "/archives/" | relURL }}">{{ if eq .Site.Language.Lang "en" }}View all{{ else }}Ver todos{{ end }}</a>
</div>
